body {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
    border: 2px dashed peru;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table {
    margin: 0 auto;
    border-spacing: 0 15px;
}
input {
    color: purple;
}
h2 {
    color: purple;
}
button {
    border-radius: 5px;
    color: purple;
}